<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Misión y Visión</title>
    <!-- Enlace al CSS -->
    <link rel="stylesheet" th:href="@{/style/seleccion.css}">
    <link rel="stylesheet" th:href="@{/style/misionvision.css}">

</head>
<body>
    <!-- Incluir el navbar -->
    <div th:replace="fragment/navbar :: navbar"></div>

    <section class="mision-vision">
    <div class="bloque">
        <h1>Misión</h1>
        <p>
            Brindar a nuestros clientes una experiencia gastronómica única, elaborando pizzas artesanales con 
            ingredientes frescos, seleccionados con rigor y preparados con pasión. Nos comprometemos a mantener 
            la excelencia en cada detalle, ofreciendo calidad, calidez y respeto en cada servicio.
        </p>
    </div>

    <div class="bloque">
        <h1>Visión</h1>
        <p>
            Convertirnos en la pizzería referente a nivel nacional, reconocida por la innovación en sabores, 
            el respeto por la tradición y la creación de un espacio donde cada visita se transforme en un 
            momento memorable de confianza y satisfacción.
        </p>
    </div>
</section>

<style>
    
</style>
<th:block th:replace="fragment/footer :: footer"></th:block>
</body>
</html>